body {
    background: #d7d6d6;
}

.card {
    transition: card-shadow .5s;
}

.card:hover {
    box-shadow: 0 0 13px rgba(33, 33, 33, .2);
}

.content {
    margin-top: 10px;
    text-align: center;
}

.card-header {
    text-align: center;
}

.card {
    margin-top: 25px;

}


.form-control {
    border: 0;
    border: none;
    outline: none;
    text-align: center;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 inherit;
    text-align: center;
}


input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
}


input:focus, textarea:focus, select:focus {
    outline: none;
}