<div class="col-sm-3">
    <div class="card text-white bg-secondary mb-3" id="employee[0]">

        <img class="card-img-top"
             src="image/no_avatar.png"
             alt="Card image">

        <div class="card-body">
            <div class="content">

                <h4 class="card-title" id="first_name">First Name</h4>
                <h4 class="card-title" id="second_name">Last Name</h4>


                <a href="#employee/" class="btn btn-outline-light" onclick="controller(this)" id="link">See profile</a>
            </div>
        </div>
    </div>
</div>



