<div class="col-sm-4" id="department[0]">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header" id="name">Department name2</div>
        <div class="card-body">
            <h4 class="card-title" id="manager">Manager: Big Boss</h4>
            <h6 class="card-title" id="count">Count employee: 4</h6>
            <p class="card-text" id="address">Address: some address</p>

            <div class="content">
                <a href="#/department/" class="btn btn-outline-light">Edit Department</a>

            </div>
        </div>
    </div>
</div>



