<div class="col-sm-3" style="margin-top: 25px">

    <form>
        <div class="content">
            <label>Create employee</label>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                   placeholder="Enter email">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="first_name" placeholder="Enter First name">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="second_name" placeholder="Enter Second name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="salary" placeholder="Enter Salary">
        </div>

        <div class="content">
            <a href="/employee/create" class="btn btn-outline-secondary" onclick="controller(this)">Create</a>
        </div>
    </form>

</div>


<div class="col-sm-3" style="margin-top: 25px">

    <form>
        <div class="content">
            <label>Create Department</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="name"
                   placeholder="Enter name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="manager" placeholder="Enter manager name">
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="address" placeholder="Enter address">
        </div>

        <div class="content">
            <a href="/department/create" class="btn btn-outline-secondary" >Create</a>
        </div>
    </form>

</div>